

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer utilities {
  .bg-wavy-lines {
    background-image: repeating-linear-gradient(
      90deg,
      rgba(1, 25, 34, 0.863) 1px,
      transparent 4px
    );
    background-size: 120px 120px;
  }
} */




/* applying the background image and overlay effect to the homepage */
.home-page-container{
  background-image: url('./assets/images/covershaded.png');                     
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat; 
}



/* registering a font face  */
@font-face{
  font-family:'Roboto Mono';
  src: url('./assets/Fonts/RobotoMono.ttf') ;
}
@font-face{
  font-family:'Rubik';
  src: url('./assets/Fonts/Rubik.ttf') ;
}

.animated-background {
  background: linear-gradient(45deg, #000000 0%, #000000 5%,transparent 5%, transparent 10%, #000000 10%, #000000 15%,transparent 15%,transparent 20%, #000000 20%, #000000 25%,transparent 25%,transparent 30%, #000000 30%, #000000 35%,transparent 35%,transparent 40%, #000000 40%, #000000 45%,transparent 45%,transparent 50%, #000000 50%, #000000 55%,transparent 55%,transparent 60%, #000000 60%, #000000 65%,transparent 65%,transparent 70%, #000000 70%, #000000 75%,transparent 70%,transparent 80%, #000000 80%, #000000 85%,transparent 85%,transparent 90%, #000000 90%, #000000 95%,transparent 95%), linear-gradient(135deg, #000000 0%, #000000 5%,transparent 5%, transparent 10%, #000000 10%, #000000 15%,transparent 15%,transparent 20%, #000000 20%, #000000 25%,transparent 25%,transparent 30%, #000000 30%, #000000 35%,transparent 35%,transparent 40%, #000000 40%, #000000 45%,transparent 45%,transparent 50%, #000000 50%, #000000 55%,transparent 55%,transparent 60%, #000000 60%, #000000 65%,transparent 65%,transparent 70%, #000000 70%, #000000 75%,transparent 70%,transparent 80%, #000000 80%, #000000 85%,transparent 85%,transparent 90%, #000000 90%, #000000 95%,transparent 95%);
        background-size: 2em 2em;
        background-color: #021c08;
        opacity: 1
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}