

@tailwind base;
@tailwind components;
@tailwind utilities;

/* applying the background image and overlay effect to the homepage */
.home-page-container{
  background-image: url('./assets/images/covershaded.png');                     
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat; 
}



/* registering a font face  */
@font-face{
  font-family:'Roboto Mono';
  src: url('./assets/Fonts/RobotoMono.ttf') ;
}
@font-face{
  font-family:'Rubik';
  src: url('./assets/Fonts/Rubik.ttf') ;
}





    
